body {
  font-family: "Courier New", Courier, sans-monospace;
  font-size: 90%;
  color: #666;
  background-color: #f8f8f8;}
     
  li{
    list-style-image:url("../rsc/image/icon_plus.jpg");
	line-height: 1.6em;}
	
  table {
  border-spacing: 0px;}

  th, td {
  padding: 5px 30px 5px 10px;
  border-spacing: 0px;
  font-size: 120%;
  margin: 0px;}
  
  th, td {
  text-align: left;
  background-color: #e0e9f0;
  border-top: 1px solid #f1f8fe;
  border-bottom: 1px solid #cbd2d8;
  border-right: 1px solid #cbd2d8; }
  
  tr.head th {
  color: #fff;
  font-size: 140%;
  background-color: #90b4d6;
  border-right: 1px solid #90b4d6;
  text-align: center;
  text-shadow: -1px -1px 1px #666;
  letter-spacing: 0.15em; }
  
  td {
    text-align: right;
	padding: 5px 10px 5px 10px;
    text-shadow: 1px 1px 1px #fff;}
	
  tr.even td, tr.even th {
    background-color: #e8eff5;}
	
  tr.head th:first-child {
    -webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;}
	
  tr.head th:last-child {
    -webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;}	
	
  fieldset {
    width: 310px;
	margin-top: 20px;
	border: 1px solid #d6d6d6;
	background-color: #ffffff;
	lin-height: 1.6em;}
	
  legend {
    font-style:italic;
	color: #666666;}
  
  input[type="text"] {
  width: 120px;
  border: 1px solid #d6d6d6;
  padding: 2px;
  outline: none;}
  
  input[type="text"]:focus,
  input[type="text"]:hover {
    background-color: #d0e2f0;
	border: 1px solid #999;}
	
  input[type="submit"] {
      border: 1px solid #006633;
	  background-color: #009966;
	  color: #0000FF;
	  border-radius: 5px;
	  padding: 5px;
	  margin-top: 10px;}


    input[type="submit"]: hover {
      border: 1px solid #660000;
	  background-color: #0000F0;
	  color: #000;
	  cursor: pointer;}	  
  
  .title {
    float: left;
	width: 165px;
	clear: left;}
	
  .submit {
    width: 330px;
	text-align: right;}
	
  img.resume_profile_photo_align_center{
    display: block;
    margin: 0px auto;
	width: 150px;
    height: 200px;
	}

		
	  
  
  
  


  